# dependencies
node_modules/

# next
.next/
out/

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
pnpm-debug.log*

# coverage
coverage/

# generated
drizzle/*.sqlite

# ide
.idea/
*.iml

# misc
.DS_Store
tsconfig.tsbuildinfo
